<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GeoExplore!</title>
  <link rel="stylesheet" href="./style.css">
</head>
<header>
  <h1 class="animated-heading">Welcome to GeoExplore!</h1>
  <nav class="animated-heading">
    <a href="/leaderBoard">Leaderboard</a>
  </nav>
</header>

<body class="img">

  {{{body}}}

</body>
<footer>
  <p>© 2023 GeoExplore</p>
</footer>


</html>