<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GlobeGenius</title>
  <link rel="stylesheet" href="style.css">
</head>

<body class="img">
  <header>
    <h1 class="animated-heading">Welcome to GeoExplore!</h1>
  </header>
  {{{body}}}
  <footer>
    <p>© 2023 GeoExplore</p>
  </footer>

</body>

</html>