 <div class="user-info">
      <h2>User Information</h2>
      <form method="POST" action="/register">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <button type="submit">START</button>
        {{!-- <p>Select your continent:</p>
        <input type="radio" id="asia" name="continent" value="Asia">
        <label for="asia">Asia</label><br>
        <input type="radio" id="africa" name="continent" value="Africa">
        <label for="africa">Africa</label><br>
        <input type="radio" id="america" name="continent" value="America">
        <label for="america">America</label><br>
        <input type="radio" id="europe" name="continent" value="Europe">
        <label for="europe">Europe</label><br>
         <button type="submit">Proceed</button> --}}
      </form>
    </div>