<div class="leaderboard">
    <h2>Leaderboard</h2>
    <table>
        <tr>
            <th>Player</th>
            <th>Score</th>
        </tr>
    {{#each listOfPlayers}}
        <tr>
            <td>{{username}}</td>
            <td>{{score}}</td>
        </tr>
    {{/each}}
    </table>
    <button><a href="/" class="button">Homepage</a></button>

</div>