 <div class="leaderboard">
        <h2>Leaderboard</h2>
        {{#each leaders}}
        <table>
            <tr>
            <td>{{this.name}}</td>
            <td>{{this.text}}</td>
        </tr> 
        </table>
        {{/each}}
         <button >Play Again</button>
          <button >Rest</button>
    </div>