<div class="leaderboard">
    <h2>Leaderboard</h2>
    {{#each listOfPlayers}}
    <table>
        <tr>
            <td>{{username}}</td>
            <td>{{score}}</td>
        </tr>
    </table>
    {{/each}}
    <button><a href="/visualModel" class="button">Play Again</a></button>

</div>