<div class="moreInfo">
    <h2>Flag Facts</h2>
    <img src="{{this.briefIntro.flagImageUrl}}" alt="Flag of {{this.briefIntro.countryName}}">
    <p>{{this.moreInfoData.moreInfo}}</p>
    <a class="styled-link" href="/quiz/{{country}}">Quiz</a>
    <button type="submit">Scan</button>
</div>