<div class="flag-recognition">
      <h2>3.Flag Facts</h2>
      <img src="{{this.briefIntro.flagImageUrl}}" alt="Flag of {{this.briefIntro.countryName}}">
      <p>{{this.briefIntro.countrySummary}}</p>
       <button >Answer Questions</button>
        <button >Scan Again</button>
</div>