<div class="avatar-customization">
      <h2>5.Language Attempt</h2>
      <P>How do you say "Hello, how are you?" in Swahili?</P>
      <img src="https://cdn2.iconfinder.com/data/icons/pittogrammi/142/08-512.png" alt="record icon" height="300px">
      <button>Record</button>
</div>