 <div class="quiz">
      <h2>Quiz Time</h2>
      {{#each questions}}
        <div class="question">
          <p>{{this.text}}</p>
          {{#each options}}
          <li>{{this}}</li>
          {{/each}}
          <input type="text" id="{{questions.id}}" placeholder="Your answer">
        </div>
      {{/each}}
       <button type="submit">Back</button>
        <button type="submit">Next</button>
    </div>