 <div class="quiz">
      <h2>Quiz Time</h2>
      {{#each questions}}
        <div class="question">
          <p>{{this.question}}</p>
          {{#each options}}
          <div>
             <input type="radio" name="option" value="{{this}}">{{this}}
          </div>
           {{/each}}
        </div>
      {{/each}}
       <button type="submit">Submit</button>
        {{!-- <button type="submit">Next</button> --}}
    </div>