 <div class="flag-recognition">
      <h2>2.Flag Recognition</h2>
      <p>Present a flag in the webcam and our AI/ML Model will identify it.</p>
      <img src="https://cdn.dribbble.com/users/844846/screenshots/6593834/icon-animation-1_still_2x.gif?resize=400x300&vertical=center" alt="camera" height="250px">
      <button >Capture Image</button>
</div>