@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@300;400&family=Young+Serif&display=swap');

:root {
  --primary: #ffcc00;
  --secondary: black;
}

/* Homepage */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;


}

header {
  text-align: center;
}

h1 {
  color: var(--primary);
  background: var(--secondary);
  opacity: 0.8;
  font-family: "Young Serif";
}
h2{
  color: black;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.animated-heading {
  animation: fadeIn 10s;
}


.user-info,
.flag-recognition,
.moreInfo,
.quiz,
.phrase .problem-solving,
.leaderboard {
  width: 45%;
  margin: 10px;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.img {
  width: 100vw;
  height: 100vh;
  background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) ,url('/images/20470970.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden;
 
}

.question {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #2a2b2c;
  border-radius: 5px;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;

}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  padding: 10px;
  color: black;
}


.user-info {
  width: 90%;
  max-width: 400px;
  height: auto;
  background: rgba(255, 255, 255, 0.835);
  border: 1px solid white;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  color: black ;
}

input[type='text'] {
  border: none;
  border: 1px solid #302e2e;
  background: transparent;
  margin: 5px;
  outline: none;
  color: black;
  font-size: 16px;
}

.user-info button[type="submit"] {
  border: none;
  outline: none;
  width: 100px;
  height: 40px;
  background: #ffcc00;
  color: #000000;
  font-size: 18px;
  border-radius: 20px;
  
}

.user-info button[type="submit"]:hover {
  cursor: pointer;
  background: #ffcc00;
  color: #000;
}

label {
  color: black;

}

p {
  color: black;

}

h2 {
  color: black;
  text-align: center;
}

/* flag-recognition*/

.flag-recognition {
  width: 90%;
  max-width: 400px;
  height: auto;
  background: rgba(255, 255, 255, 0.835);
  border: 1px solid white;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  color: black ;
}

.flag-recognition button,
.more-info-btn {
  border: none;
  outline: none;
  width: 100px;
  height: 40px;
  color: #000000;
  font-size: 18px;
  border-radius: 20px;
  background: #ffcc00;
}

.flag-recognition button:hover,
.more-info-btn:hover {
  cursor: pointer;
  background: #ffcc00;
  color: #000;
}


/* leaderboard */

.leaderboard {
  width: 90%;
  max-width: 400px;
  height: auto;
  background: rgba(255, 255, 255, 0.835);
  border: 1px solid white;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  color: black ;
}

.leaderboard button {
  border: none;
  outline: none;
  width: 100px;
  height: 40px;
  background: #ffcc00;
  color: #000000;
  font-size: 18px;
  border-radius: 20px;
  margin-top: 20px;
  
}

.leaderboard .button{
  text-decoration: none;
  color: #000;
}

.leaderboard button:hover {
  cursor: pointer;
  background: #ffcc00;
  color: #000;
}

/* problem-solving */

.problem-solving {
  width: 90%;
  max-width: 400px;
  height: auto;
  background: rgba(0, 0, 0, 0.605);
  border: 1px solid white;
  box-shadow: 10px 5px 5px rgb(229, 227, 227);
  color: white;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

.problem-solving textarea {
  border: none;
  border: 1px solid #fff;
  background: transparent;
  margin: 5px;
  outline: none;
  color: #fff;
  font-size: 16px;
}

.problem-solving button[type="submit"] {
  border: none;
  outline: none;
  width: 100px;
  height: 40px;
  background: #ffcc00;
  color: #000000;
  font-size: 18px;
  border-radius: 20px;
}

.problem-solving button[type="submit"]:hover {
  cursor: pointer;
  background: #ffcc00;
  color: #000;
}

/* Quiz */

.quiz {
  width: 90%;
  max-width: 400px;
  height: auto;
  background: rgba(255, 255, 255, 0.835);
  border: 1px solid white;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  color: black ;
}

.quiz button[type="submit"] {
  border: none;
  outline: none;
  width: 100px;
  height: 40px;
  background: #ffcc00;
  color: #000000;
  font-size: 18px;
  border-radius: 20px;
}

.quiz button[type="submit"]:hover {
  cursor: pointer;
  background: #ffcc00;
  color: #000;
}




/* moreInfo */

.moreInfo {
  width: 90%;
  max-width: 400px;
  height: auto;
  background: rgba(255, 255, 255, 0.835);
  border: 1px solid white;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  color: black ;
}

.moreInfo button[type="submit"] {
  border: none;
  outline: none;
  width: 100px;
  height: 40px;
  background: #ffcc00;
  color: #000000;
  font-size: 18px;
  border-radius: 20px;
  padding: 2px;
}

.moreInfo button[type="submit"]:hover {
  cursor: pointer;
  background: #ffcc00;
  color: #000;
}

/* phrase */

.phrase {
  width: 90%;
  max-width: 400px;
  height: auto;
  background: rgba(0, 0, 0, 0.605);
  border: 1px solid white;
  box-shadow: 10px 5px 5px rgb(229, 227, 227);
  color: white;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

.phrase .record-btn {
  border: none;
  outline: none;
  width: 100px;
  height: 40px;
  background: #ffcc00;
  color: #000000;
  font-size: 18px;
  border-radius: 20px;
  padding: 2px;
}

.record-btn:hover {
  cursor: pointer;
  background: #ffcc00;
  color: #000;
}

.flag {
  height: 200px;
  width: 320px;
}

.more-info-btn {
  padding: 10px;
  text-decoration: none;
}

.moreInfo .styled-link {
  padding: 10px;
  text-decoration: none;
  border: none;
  outline: none;
  width: 100px;
  height: 40px;
  background: #ffcc00;;
  color: #000000;
  font-size: 18px;
  border-radius: 20px;
}


.moreInfo .styled-link:hover {
  cursor: pointer;
  background: #ffcc00;
  color: #000;
}